<%= content_for :head do %>
  <%= javascript_include_tag 'charcount.js' %>
<% end %>

<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content, :maxlength => 140 %>
  </div>
  <div id="counter-user_name"></div>

  <div class="actions">
    <%= f.submit "Submit",:class => "buttons round" %>
  </div>
<% end %>

