<% if signed_in? %>

  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What's up?</h1>
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>

<% else %>

<h1>Broadcaster</h1>
<p>
  Twitter is too mainstream! Checkout this fresh new web page, where you can broadcast your messages... to your underground friends!
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

<% end %>

